<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LanguageServerProtocol" version="2.0.2" targetFramework="net471" />
  <package id="managed-midi" version="1.2.1" targetFramework="net471" />
  <package id="Matarillo.IO" version="1.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net471" />
  <package id="NUnit" version="3.10.1" targetFramework="net45" />
</packages>